@font-face {
   font-family: apercu-bold;
   src: url(../fonts/Apercu\ bold.otf);
}
@font-face {
   font-family: apercu-italic;
   src: url(../fonts/Apercu\ bold\ italic.otf);
}
@font-face {
   font-family: apercu-medium;
   src: url(../fonts/Apercu\ medium.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html{
    font-size: 62.5%;
    font-family: var(--italic);
 }



 .bg-red{
    background-color: var(--red);
 }

 .bg-white{
    background-color: var(--white);
 }
 
 .bg-green{
    background-color: var(--green);
 }

 body{
    background-color: var(--black);
    color: var(--white);
 }


:root{
    --black: #0f0f0f;
    --red:#ed1c24;
    --white: #ffffff;
    --gray: #282828;
    --full-black: #000000;
    --green: #28a745;
    --italic: apercu-italic;
   }

 .d-flex{
    display: flex;
 }

 .flex-wrap{
   flex-wrap: wrap;
 }
 .justify-content{
   justify-content: center;
 }
 .justify-between{
   justify-content: space-between
 }
 .justify-evenly{
   justify-content: space-evenly;
 }
 .justify-around{
   justify-content: space-around;
 }

 
 .align-items{
   align-items: center;
 }

/* .justify-between{
   align-items;: space-between
 }
 .justify-evenly{
   align-items: space-evenly;
 }
 .justify-around{
   align-items: space-around;
 }*/

 .text-center{
      text-align: center;
 }

 .gap-1{
   gap: 5px;
 }
 .gap-2{
   gap: 10px;
 }
 .gap-3{
   gap: 15px;
 }
 .gap-4{
   gap: 20px;
 }
 .gap-5{
   gap: 25px;
 }


.m-1{
   margin: 5px;
}
.mx-1{
   margin: 0px 5px;
}
.my-1{
   margin: 10px 30;
}
.rounded-sm{
   border-radius: 10px;
}
.rounded-lg{
   border-radius: 20px;
}
.rounded-mg{
   border-radius: 40px;
}